/test/
test/*
venv/
data/db/
data/*
data/db/*
**/data/*
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/
.idea/
*.pyc
logs/
*.log
db.sqlite3
lib/
lib64/
bin/
include/
build/
libexec/
share/
*.bak
*.swp
.DS_Store
*.env
uploads/
uploads/*